.jumbotron
{
    background-image: url("Images/book.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: brown;
    height:100%;
    
}
body{
    background-image: url("Images/board.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.titleImage{
    width:100%;
}

.imageContainer{
    position:relative;
}
.imageText{
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
