.jumbotron
{
    background-image: url("book.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: brown;
    height:400px;
    
}
body{
    background-image: url("board.png");
    background-size: 100% 100%;
}
.titleImage{
    width:100%;
}

.imageContainer{
    position:relative;
}
.imageText{
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mybtn{
    background-image: url("plank.png");
    background-color:brown;
    background-size:100% 100%;
}